                body{
                font: 30px Time new roma, Arial, Helvetica, sans-serif;
                padding: 0;
                margin: 0;
                background: white;
                }
                
                header{
                background-color: aquamarine;
                color:black;
                padding-top: 30px;
                min-height: 90px;
                border-bottom: 5px solid blue;

                text-align:center;
                float: center;
                color:black;
                }

                .contenedor{
                width: 90%;
                margin: auto;
                overflow: hidden;
                }
                
                .contenedor #contac{ 
                width: 100%;
                margin: auto;
                overflow: hidden;
                }
                
                .contenedor #marca table{
                    border-collapse: separate;
                    align:center;
                }

                .contenedor #marca h1{

                color:blue;
                text-align:center;
                margin: 0;
                font-size: 40px;
                font-family: Lucida Bright;
                }   

                .contenedor #marca h4{

                color:#385CF3;
                text-align:center;
                margin: 0;
                font-size: 25px;
                font-family: Arial Narrow;

                }
                
                .contenedor #marca h6{

                color:#199FA9;
                text-align:center;
                margin: 0;
                font-size: 20px;

                }

ul{
    margin: 20;
    padding: 0;
    float: CENTER;
}



header a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    float: CENTER;
}

header li{
    float: CENTER;
    display: inline;
    margin-top: 30px;
    padding: 0 30px 0 20px;
}


header #marca{
    float: center;
}


header #marca h1{
    margin: 0;
}

#menu{
    align-content: right;
}
header #menu ul {
 
    list-style:none;
    margin:20;
    padding:0;
    float: right;
}

header #menu ul li {
 background-color: #2e518b;
}

header #menu ul a {
 display:block;
 color:aquamarine;
 text-decoration:none;
 font-weight:400;
 font-size:15px;
 padding:10px;
 font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
 text-transform:uppercase;
 letter-spacing:0px;
}

header #menu ul li {
 position: relative;
 float:left;
 margin:0;
 padding:0;
}

header #menu ul li:hover {
 background:#5b78a7;
}

header #menu ul ul {
 display:none;
 position: relative;
 top:100%;
 left:0;
 background:#eee;
 padding:0;
}

header #menu ul ul li {
 float:none;
 width:150px
}

header #menu ul ul a {
 line-height:120%;
 padding:10px 15px;
 background-color: #2e518b;
}

header #menu ul li:hover > ul {
 display:block;
}

header nav{
    float: CENTER;
    margin-top: 30px;
    text-align:center;
}



header a:hover{
    color: #4D030B;
    font-weight: bold;
}


#cabecera{
    height: 400px;
    background: url('../img/img1.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    color: white;
}

#cabecera h1{
    margin-top: 100px;
    font-size: 60px;
    margin-bottom: 20px;
}

#cabecera p{
    font-size: 30px;
}

#boletin{
    padding: 20px;
    color: #4D030B;
    background: aquamarine;
    float: center;
    text-align: center;
}

#boletin h1{
   text-align: center;
   font-size: 35px;
}


#boletin form{
    float: center;
    margin-top: 15px;
}

#boletin input[type="email"]{
    padding: 5px;
    height: 25px;
    width: 400px;
    border-radius: 10px;
}

.boton1{
    height: 50px;
    background-color: #4D030B;
    border: 0;
    padding-left: 50px;
    padding-right: 50px;
    color: aquamarine;
    border-radius: 50px;
}


#cajas{
    margin-top: 20px;
    width: 100%;
    margin-bottom: 60px;
    
}

#cajas .mensaje{
    font-size: 40px;
    border-radius: 50px;
    color: #2e518b;
    text-align: center;
    padding: 10px; 
}

#cajas .caja{
    float: left;
    text-align: center;
    width: 30%;
    padding: 5px;  
    margin: 2px;
    font-size:20px; 
}

#cajas .caja p{
    color: #2e518b; 
    font-size:20px;  
}

#cajas .caja img{
    width: 200px;
    height: 180px;
}

footer{
    padding: 1px;
    margin-top: 0px;
    color: black;
    background-color: aquamarine;
    text-align: center;
    font-size:18px;
    font-family: Monaco;
    border-top: 5px solid blue;
}
